/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {


Button[text="Volver a Menu Principal"] {
    -fx-font-size: 24px; 
}


.button {
    -fx-background-color: #1565c0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;

}
.button:hover {
    -fx-background-color: #0d47a1;
}
.button {
    -fx-background-color: #1565c0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}
#AnchorPane {
    -fx-background-color: #8db7f7; 
}
}